---
apiVersion: v1
kind: Secret
metadata:
  name: drone-exporter-secret
  namespace: drone-exporter
type: Opaque
data:
  DRONE_URL:
  DRONE_TOKEN:
  INFLUXDB_ADDRESS:
  INFLUXDB_TOKEN:
---
apiVersion: v1
kind: Secret
metadata:
  name: private-key
  namespace: drone-exporter
data:
  .dockerconfigjson:
type: kubernetes.io/dockerconfigjson

